html {
    scroll-behavior: smooth;
    }

@media screen and (max-width:414px) {
    
    .main-wrapper.subtitle {
        display: none;
    }

    .main-wrapper.data-div {
        display: none;
    }

    p.main-wrapper {
        display: none;
    }

    
}

/* .menu-mobile{
    display: none;
@media screen and (max-width:414px) {
        display: flex;
        color: #D8D8D8;
        background-color: black;
        width: 150px;
    }
} */

.menu {
    display: none;

    @media screen and (max-width:414px) {
    display: inline;
    margin-left: -30px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.801218);
    border-width: 0em;
    }

}

.fa-bars {
    @media screen and (max-width:414px) {
    font-size: 1.5em;
    color: rgb(68, 63, 63);
    }
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.text {
    color: #ffffff;
    font-family: "Open Sans";
    font-style: normal;
    letter-spacing: 1px;
    line-height: 33px;
    }

#header-wrapper {
    background-color: rgba(0, 0, 0, 0.801218);
    display: flex;
    font-weight: bold;
    padding: 10px;
    padding-left: 40px;
    width: 1500px;
    height: 40px;
    position:fixed;
    z-index: 8;
    /* margin-top: -10px;  para que cuando scrolleo no se vea la línea arriba?*/
    @media screen and (max-width:414px) {
      /*   display: flex;
        flex-direction: column;position: relative;
        width: 200px;
        height: 100vh;
        z-index: 1;
  */
    }

    .logo {
        align-self: center;
        padding-right: 60px;
        padding-left: 30px;
        width: 120px;
        height: 30px;
    }
    .header.text {
        font-size: 0.7em;
        padding-right: 15px;
        align-self: center;
        /* display: none; */
        @media screen and (max-width:414px) {
                display: none;
                /* flex-direction: column;
                 position: absolute;
                top: 100%;
                left: 5px; */
                line-height: 10px;
                z-index: 1;
            }
        
    }
}



.portada {
    background-image: linear-gradient(90deg,
    rgba(0, 0, 0, 0.884),
    rgba(170, 170, 170, 0.11)),
    url("../images/bbportada.png");
    background-size: cover;
    height: 778px;
    width: 1460px;       
    
    
}

.main-wrappertext {
    width: 600px;
    margin-top: -700px;
    margin-left: 30px;
    margin-bottom: 45px;

    @media screen and (max-width:414px) {
        display: flex;
        flex-direction: column;
        margin-top: -650px;
    }

    p.mobile {
        display: none;
        @media screen and (max-width:414px) {
            display: inline;
            margin-top: 10px;
            font-size: 0.9em;
        }
    }
    
    p.mobile.title {
        display: none;
        @media screen and (max-width:414px) {
            display: inline;
            font-size: 1.8em;
        }
    }
    
    .main-centertext {
        
        .main-wrapper.title{
            background-image: url("../images/breakingbadlogo.png");
            height: 345px;
            width: 345px;
            margin-bottom: 10px;
            
            @media screen and (max-width:414px) {
            display: none;
            }
        }
        .main-wrapper.subtitle{
            font-size: 1.2em;
            font-weight: bold;
            line-height: 83%;
            margin: 0 0  20px 10px;
            display: none;
        }
        .data-div{
            display: flex;
            width: 600px;
            align-items: baseline;
            margin-top: -20px;
            
            @media screen and (max-width:414px) {
                display: none;
                }

            .data1 {
                margin-right: 15px;
                color: #009C04;
                font-weight: bold;

            }
            .data2 {
                margin-right: 15px;
                
            }
            .data3-wrapper {
                border-style: solid;
                border-width: 1px;
                border-radius: 5px;
                margin-right: 15px;
                margin-bottom: 10px;
                padding-left: 7px;
                padding-right: 7px;

                
                
                .data3 {
                /* text-align: center; */
                padding: 1px; 
             
                }
            }
            .data4 {
                margin-right: 15px;
                font-weight: bold;
            }
        }

        .main-buttonwrapper{
            display: flex;
            align-items: center;
            
            .button.main-wrapper {
                background-color: rgba(157, 151, 151, 0.541521);
                width: 130px;
                height: 40px;
                margin-top: 15px;
                margin-right: 10px;
                text-align: center;
                padding-top: 10px;
                border-radius: 9px;
                }

            .button.lista {
                @media screen and (max-width:414px) {
                    display: none;
                    }
            }

            .button.main-wrapper.rep{
                background-color: #ED0A1D;
            }
            .thumbs.up {
                transform: rotate(-180deg);

                @media screen and (max-width:414px) {
                    display: none;
                    }
            }
            .thumbs {
                height: 30px;
                width: 29px;
                margin-left: 15px;
                margin-top: 15px;
                padding: 5px;
                border-radius: 50%;
                border-color: #D8D8D8;
                border-width: 1px;
                border-style: solid;

                @media screen and (max-width:414px) {
                    display: none;
                    }
            }
        
        }
        p {
            margin-top: 15px;
            font-size: 1.1em;
            line-height: 28px;
        }
    }


}

.carrousel-title {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.carrousel::-webkit-scrollbar {
    height: 5px;
    background-color: gray;
    display: none; 
    }

.carrousel {
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth; no se ajusta al dragscroll*/
    margin-left: 15px;
    margin-top: 8px;

    @media screen and (max-width:414px) {
        display: flex;
        flex-direction: column;
        }
    
    .carrousel-wrapper {
        position: relative;

        @media screen and (max-width:414px) {
            display: flex;
            }        
        i.play {
            font-size: 5em;
            color: white;
            opacity: 0.6;
            position:absolute;
            left: 120px;
            top: 50px;
        
            @media screen and (max-width:414px) {
                font-size: 2em;
                left: 40px;
                top: 12px;
                } 
        }

        i.play:hover {
            opacity: 1;
        } 
        
        .text-wrapper-carrousel {
            padding-bottom: 20px;

            @media screen and (max-width:414px) {
                display: flex;
                flex-direction: column;
                font-size: 0.7em;
               /*  line-height: 1px; */
                width: 100px;
                }
            .description.text {
                display: none;
                @media screen and (max-width:414px) {
                    width: 150px;
                    display: inline;
                    line-height: 1em;
                }
            }
            .title-cap {
                font-weight: bold;
                font-size: 0.9em;
                @media screen and (max-width:414px) {

                line-height: 1em; 
                margin-top: -2px;
                width: 150px;
                }
            }
        }
    }
    
    .carrousel-img {
        margin-right: 16px;

        @media screen and (max-width:414px) {
            display: flex;
            flex-direction: column;
            width: 100px;
            margin-bottom: 15px;

            }
    }
} 

#main {
    background-color: black;
    
}
        