html {
scroll-behavior: smooth;
background-color: black;

}

@media screen and (max-width:414px) {
    .header.text {
        display: none;
    }
    .main-wrapper.subtitle {
        display: none;
    }

    
    p.main-wrapper {
        display: none;
    }
}

p.mobile {
    display: none;
    @media screen and (max-width:414px) {
        display: inline;
    }
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.text {
    color: #ffffff;
    font-family: "Open Sans";
    font-style: normal;
    letter-spacing: 1px;
    line-height: 33px;
    }

#main {
    background-color: black;
     max-width: 1366px;
    }
    
    


#header-wrapper {
    background-color: rgba(0, 0, 0, 0.801218);
    display: flex;
    font-weight: bold;
    padding: 10px;
    padding-left: 40px;
    width: 1500px;
    max-width: 1366px;
    height: 40px;
    position:fixed;
    z-index: 8;
    /* margin-top: -10px;  para que cuando scrolleo no se vea la línea arriba?*/
    
    .logo {
        align-self: center;
        padding-right: 60px;
        padding-left: 30px;
        width: 120px;
        height: 30px;
    }
    .header.text {
        font-size: 0.7em;
        padding-right: 15px;
        align-self: center;
    
        

    }
}

.portada {
    background-image: url("../images/portada.png");
    background-size: cover;
    width: 1366px;
    height: 778px;
}

.main-wrappertext {
    width: 500px;
    
    .main-centertext {
        margin-top: -640px;
        margin-left: 40px;
       
        .main-wrapper.title{
            font-size: 6em;
            font-weight: bold;
            line-height: 83%;
            margin-bottom: 25px;
            margin-top: 15px;
            @media screen and (max-width:414px) {
                font-size: 2em;
                margin-bottom: 15px;
            }
            
        }
        .main-wrapper.subtitle{
            font-size: 1.2em;
            font-weight: bold;
            line-height: 83%;
            margin-top: 20px;
        }
        .main-buttonwrapper{
            display: flex;
            
            .button.main-wrapper {
                background-color: rgba(157, 151, 151, 0.541521);
                width: 130px;
                height: 40px;
                margin-bottom: 25px;
                margin-right: 10px;
                text-align: center;
                padding-top: 10px;
                border-radius: 9px;
            }
                
            .button{
                @media screen and (max-width:414px) {
                    margin-top: 10px;
                }
            }

            .button.rep{
                @media screen and (max-width:414px) {
                    background-color: #ED0A1D;
                }
            }
            
        }
        p {
            font-size: 1.1em;
            line-height: 28px;
        }
    }
}

.carrousel-title {
    margin-left: 10px;;
    font-weight: bold;
}

.carrousel::-webkit-scrollbar {
    height: 5px;
    background-color: gray;
    display: none; 
}



.all-carrousel-wrapper {
    margin-top: 50px;
    
}

.carrousel {
    display: flex;
    overflow-x: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 8px;
    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth; */
    .carrousel-img {
       margin-right: 16px;
       scroll-snap-align: start; 
       
       @media screen and (max-width:414px) {
        width: 280px;
        height: 180px;
    }
    }
} 

.carrousel-img.seguir-viendo {
    margin-bottom: 15px;
}

.barra-wrapper{
    
    .porcentaje-wrapper{
        display: flex;
        align-content: stretch;
        width: 300px;
        

        .barra {
            background-color: #858585;
            width: 60%;
            display: flex;
            align-self: flex-end;
            height: 6px;
            
        }

        .barra-red {
            background-color: red;
            width: 40%;
            margin-left: 50px;
            display: flex;
            align-self: flex-end;
            height: 6px;
            
        }
        @media screen and (max-width:414px) {
            width: 220px;
            height: 4px;
            display: flex;
            justify-content: center;
        }
    }
}


