html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 414px) {
  .main-wrapper.subtitle {
    display: none;
  }

  .main-wrapper.data-div {
    display: none;
  }

  p.main-wrapper {
    display: none;
  }
}
.menu {
  display: none;
}
@media screen and (max-width: 414px) {
  .menu {
    display: inline;
    margin-left: -30px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.801218);
    border-width: 0em;
  }
}

@media screen and (max-width: 414px) {
  .fa-bars {
    font-size: 1.5em;
    color: #443f3f;
  }
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.text {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  letter-spacing: 1px;
  line-height: 33px;
}

#header-wrapper {
  background-color: rgba(0, 0, 0, 0.801218);
  display: flex;
  font-weight: bold;
  padding: 10px;
  padding-left: 40px;
  width: 1500px;
  height: 40px;
  position: fixed;
  z-index: 8;
}
#header-wrapper .logo {
  align-self: center;
  padding-right: 60px;
  padding-left: 30px;
  width: 120px;
  height: 30px;
}
#header-wrapper .nav {
  display: flex;
}
@media screen and (max-width: 414px) {
  #header-wrapper .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 15px;
    background-color: black;
    height: 100vh;
    width: 175px;
  }
}
#header-wrapper .nav.open {
  display: inline-flex;
}
#header-wrapper .nav .header.text {
  font-size: 0.7em;
  padding-right: 15px;
  align-self: center;
}
#header-wrapper .nav .header.text:active {
  background-color: #201f1f;
}

.portada {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.884), rgba(170, 170, 170, 0.11)), url("../img/bbportada.png");
  background-size: cover;
  height: 778px;
  width: 100vw;
}

.main-wrappertext {
  width: 600px;
  margin-top: -700px;
  margin-left: 30px;
  margin-bottom: 45px;
}
@media screen and (max-width: 414px) {
  .main-wrappertext {
    display: flex;
    flex-direction: column;
    margin-top: -650px;
  }
}
.main-wrappertext p.mobile {
  display: none;
}
@media screen and (max-width: 414px) {
  .main-wrappertext p.mobile {
    display: inline;
    margin-top: 10px;
    font-size: 0.9em;
  }
}
.main-wrappertext p.mobile.title {
  display: none;
}
@media screen and (max-width: 414px) {
  .main-wrappertext p.mobile.title {
    display: inline;
    font-size: 1.8em;
  }
}
.main-wrappertext .main-centertext .main-wrapper.title {
  background-image: url("../img/breakingbadlogo.png");
  height: 345px;
  width: 345px;
  margin-bottom: 10px;
}
@media screen and (max-width: 414px) {
  .main-wrappertext .main-centertext .main-wrapper.title {
    display: none;
  }
}
.main-wrappertext .main-centertext .main-wrapper.subtitle {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 83%;
  margin: 0 0 20px 10px;
  display: none;
}
.main-wrappertext .main-centertext .data-div {
  display: flex;
  width: 600px;
  align-items: baseline;
  margin-top: -20px;
}
@media screen and (max-width: 414px) {
  .main-wrappertext .main-centertext .data-div {
    display: none;
  }
}
.main-wrappertext .main-centertext .data-div .data1 {
  margin-right: 15px;
  color: #009C04;
  font-weight: bold;
}
.main-wrappertext .main-centertext .data-div .data2 {
  margin-right: 15px;
}
.main-wrappertext .main-centertext .data-div .data3-wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}
.main-wrappertext .main-centertext .data-div .data3-wrapper .data3 {
  /* text-align: center; */
  padding: 1px;
}
.main-wrappertext .main-centertext .data-div .data4 {
  margin-right: 15px;
  font-weight: bold;
}
.main-wrappertext .main-centertext .main-buttonwrapper {
  display: flex;
  align-items: center;
}
.main-wrappertext .main-centertext .main-buttonwrapper .button.main-wrapper {
  background-color: rgba(157, 151, 151, 0.541521);
  width: 130px;
  height: 40px;
  margin-top: 15px;
  margin-right: 10px;
  text-align: center;
  padding-top: 10px;
  border-radius: 9px;
}
@media screen and (max-width: 414px) {
  .main-wrappertext .main-centertext .main-buttonwrapper .button.lista {
    display: none;
  }
}
.main-wrappertext .main-centertext .main-buttonwrapper .button.main-wrapper.rep {
  background-color: #ED0A1D;
}
.main-wrappertext .main-centertext .main-buttonwrapper .thumbs.up {
  transform: rotate(-180deg);
}
@media screen and (max-width: 414px) {
  .main-wrappertext .main-centertext .main-buttonwrapper .thumbs.up {
    display: none;
  }
}
.main-wrappertext .main-centertext .main-buttonwrapper .thumbs {
  height: 30px;
  width: 29px;
  margin-left: 15px;
  margin-top: 15px;
  padding: 5px;
  border-radius: 50%;
  border-color: #D8D8D8;
  border-width: 1px;
  border-style: solid;
}
@media screen and (max-width: 414px) {
  .main-wrappertext .main-centertext .main-buttonwrapper .thumbs {
    display: none;
  }
}
.main-wrappertext .main-centertext p {
  margin-top: 15px;
  font-size: 1.1em;
  line-height: 28px;
}

.carrousel-title {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.carrousel::-webkit-scrollbar {
  height: 5px;
  background-color: gray;
  display: none;
}

.carrousel {
  display: flex;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory;
  scroll-behavior: smooth; no se ajusta al dragscroll*/
  margin-left: 15px;
  margin-top: 8px;
}
@media screen and (max-width: 414px) {
  .carrousel {
    display: flex;
    flex-direction: column;
  }
}
.carrousel .carrousel-wrapper {
  position: relative;
}
@media screen and (max-width: 414px) {
  .carrousel .carrousel-wrapper {
    display: flex;
  }
}
.carrousel .carrousel-wrapper i.play {
  font-size: 5em;
  color: white;
  opacity: 0.6;
  position: absolute;
  left: 120px;
  top: 50px;
}
@media screen and (max-width: 414px) {
  .carrousel .carrousel-wrapper i.play {
    font-size: 2em;
    left: 40px;
    top: 12px;
  }
}
.carrousel .carrousel-wrapper i.play:hover {
  opacity: 1;
}
.carrousel .carrousel-wrapper .text-wrapper-carrousel {
  padding-bottom: 20px;
}
@media screen and (max-width: 414px) {
  .carrousel .carrousel-wrapper .text-wrapper-carrousel {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    /*  line-height: 1px; */
    width: 100px;
  }
}
.carrousel .carrousel-wrapper .text-wrapper-carrousel .description.text {
  display: none;
}
@media screen and (max-width: 414px) {
  .carrousel .carrousel-wrapper .text-wrapper-carrousel .description.text {
    width: 150px;
    display: inline;
    line-height: 1em;
  }
}
.carrousel .carrousel-wrapper .text-wrapper-carrousel .title-cap {
  font-weight: bold;
  font-size: 0.9em;
}
@media screen and (max-width: 414px) {
  .carrousel .carrousel-wrapper .text-wrapper-carrousel .title-cap {
    line-height: 1em;
    margin-top: -2px;
    width: 150px;
  }
}
.carrousel .carrousel-img {
  margin-right: 16px;
}
@media screen and (max-width: 414px) {
  .carrousel .carrousel-img {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-bottom: 15px;
  }
}

#main {
  background-color: black;
}

/*# sourceMappingURL=styles2.css.map */
